/* selector */

body {
  background-color: mistyrose;
  border: 10px solid black; 
}

/* id selector */
#special {

}

/* class selector */
.less-special {
  color: yellow;
}

/* descendent */
article h1 {
  color: purple;
}

/* direct child */
article > h1 {
  color: tomato;
}

/* specificity */