
* {
  box-sizing: border-box;
}

.one {
  background-color: lime;
}

.two {
  background-color: plum;
  overflow: auto;
}

.three {
  background-color: papayawhip;
}

.four {
  background-color: lightblue;
}

.five {
  padding: 20px;
  background-color: mistyrose;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aaa {
  background-color: red;
  float: left;
  width: 50%;
}

.bbb {
  background-color: yellow;
  float: left;
  width: 50%;
}

.content {
  background-color: red;
  flex: 1;
}

.sidebar {
  background-color: yellow;
  flex: 1;
}