<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>crappy calculator</h1>
  <form action="/sum" method="get">
    <input name="num1" type="text"> + <input name="num2" type="text">
    <button>calc</button>  
  </form>

  <p><%= Time.now %></p>
</body>
</html>